<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Incubation Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header class="topbar">
    <div class="container topbar-inner">
        <div class="brand">Incubation Portal</div>
        <nav class="nav">
            <a href="/">Dashboard</a>
            <a href="/register">Register Startup</a>
            <a href="/startups">Startups</a>
            <a href="/allocations">Allocations</a>
            <a href="/reports">Reports</a>
            <a href="/seat-requests">Seat Requests</a>
            
        </nav>
    </div>
</header>

<main class="center-wrapper">
    <div class="center-content">
        {% block content %}{% endblock %}
    </div>
</main>
</body>

</html>
